.about {
    margin: 2% 2%;
}

.about h1{
    text-align: center;
    font-size: 3vw;
}

.about img {
    max-width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}

.about h2 {
    text-align: center;
    font-size: 2vw;
}

.about p {
    margin: 2% 3%;
    font-size: 1.5vw;
}

.about ul {
    margin: 2% 3%;
    font-size: 1.5vw;
}